* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 10px;
}

.travel {
  position: relative;
  border: 1px solid black;
  height: 300px;
  width: 360px;
  margin-bottom: 10px;
}

.box1 {
  background-image: url('../img/rome.jpg');
  background-position: center;
  background-size: cover;
}
.box1 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
}

.box2 {
  background-image: url('../img/copenhagen.jpg');
  background-position: center;
  background-size: cover;
}
.box2 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
}

.box3 {
  background-image: url('../img/tokyo.jpg');
  background-position: center;
  background-size: cover;
}
.box3 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
}
