* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

span {
  text-shadow: 2px 2px 2px #000000;
}

.container {
  position: relative;
  padding: 10px 0;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  padding: 10px 0;
  transform: translate(-50%, -50%);
}

.travel {
  z-index: 0;
  position: relative;
  height: 300px;
  width: 360px;
  margin-bottom: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
}

.opacity {
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.travel:hover .opacity {
  visibility: hidden;
}

.box1 {
  background-image: url('../img/rome.jpg');
  background-position: center;
  background-size: cover;
}
.box1 span {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
}

.box2 {
  background-image: url('../img/copenhagen.jpg');
  background-position: center;
  background-size: cover;
}
.box2 span {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
}

.box3 {
  background-image: url('../img/tokyo.jpg');
  background-position: center;
  background-size: cover;
}
.box3 span {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
}
