* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 10px;
}

.travel {
  border: 1px solid black;
  height: 300px;
  width: 360px;
  margin-bottom: 10px;
}

.box1 {
  background-image: url('../img/rome.jpg');
  background-position: center;
  background-size: cover;
}
